{% extends 'Edulution/base.html' %}

{% load static %}

{% block content %}

<div class="row">

    {% for subject in subjects %}
    <div class="course col-md-4 col-sm-6 col-xs-12 material-shadow-card">
        <h2 class="course-title">
            {% if subject.percent == 100 %}
            <span style="color: #4caf50">
            {{ subject.title }}</span><span class="glyphicon glyphicon-ok" style="color: #4caf50"></span>
            {% else %}
            {{ subject.title }}
            {% endif %}
        </h2>
        <!-- <div class="progress">    -->
            <div class="c100 p{{ subject.percent }} big">
              <span>
                  {% if subject.title == 'Mathematics' %}
                  <img src="{% static "Edulution/images/number.png" %}" alt="Mathematics" />
                  {% elif subject.title == 'Literacy' %}
                  <img src="{% static "Edulution/images/letter.png" %}" alt="Literacy"/>
                                    {% elif subject.title == 'Hackathon Winning' %}
                  <img src="{% static "Edulution/images/hackathon.jpg" %}" alt="Hackathon Winning" width="120" height="75" />
                                    {% elif subject.title == 'Disk Jockery' %}
                  <img src="{% static "Edulution/images/dj.jpg" %}" alt="Disk Jockery" width="100" height="100"/>
                  {% elif subject.title == 'Health' %}
                  <img src="{% static "Edulution/images/health.jpg" %}" alt="Health" width="100" height="100"/>


                    {% endif %}

              </span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        <!-- </div> -->

        <div class="parts">
            <ul>
                {% for course in subject.courses %}
                {% if course.complete %}
                <li class="part-completed"><a href="#">{{ course.name }}</a> <span class="glyphicon glyphicon-ok"></span></li>
                {% else %}
                <li><a href="#">{{ course.name }}</a></li>
                {% endif %}

                {% endfor %}
            </ul>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}