{% extends 'Edulution/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="course col-md-4 col-sm-6 col-xs-12 material-shadow-card">
        <h2 class="course-title">Course 1</h2> 
        <!-- <div class="progress">    -->
            <div class="c100 p60 big">
              <span>60%</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        <!-- </div> -->

        <div class="parts">
            <ul>
                <li class="part-completed"><a href="#">Lorem ipsum dolor sit amet</a> <span class="glyphicon glyphicon-ok"></span></li>
                <li class="part-completed"><a href="#">Consectetur adipiscing elit</a> <span class="glyphicon glyphicon-ok"></span></li>
                <li class="part-completed"><a href="#">Sed sed auctor neque</a> <span class="glyphicon glyphicon-ok"></li>
                <li><a href="#">Nullam gravida nunc</a></li>
                <li><a href="#">Nullam gravida nunc 2</a></li>
            </ul>
        </div>
    </div>
    <div class="course col-md-4 col-sm-6 col-xs-12 material-shadow-card">
        <h2 class="course-title">Course 2</h2> 
        <div class="c100 p30 big">
          <span>30%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>
    </div>
    <div class="course col-md-4 col-sm-6 col-xs-12 material-shadow-card">
        <h2 class="course-title">Course 3</h2> 
        <div class="c100 p45 big">
          <span>45%</span>
          <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
          </div>
        </div>    
    </div>
    <div class="course col-md-4 col-sm-6 col-xs-12 material-shadow-card">
        <h2 class="course-title">Course 4</h2> 
    </div>
    <div class="course col-md-4 col-sm-6 col-xs-12 material-shadow-card">
        <h2 class="course-title">Course 5</h2>     
    </div>
    <div class="course col-md-4 col-sm-6 col-xs-12 material-shadow-card">
        <h2 class="course-title">Course 6</h2> 
    </div>
</div>

{% endblock %}