{% extends 'Edulution/base.html' %}

{% load static %}

{% block content %}

<div class="row">
    <div class="container">
        <div class="sub_course-content col-xs-offset-2 col-xs-8 material-shadow-menu">
            <h1 class="sub_course-name">{{ course.name }}</h1>
            <div class="sub_course-parts">
                <ul>
                    {% for playlist in playlists %}
                    <li>
                        <div class="points-circle">{{ playlist.length }}</div>
                        <a class="sub_course-collapse" role="button" data-toggle="collapse" data-target="#{{ playlist.id }}" aria-expanded="false" aria-controls="collapseExample">
                          {{ playlist.name }} <span class="caret"></span>
                        </a>
                        <div class="collapse" id="{{ playlist.id }}">
                          
                            <div class="parts sc-parts">
                                <ul>
                                    {% for item in playlist.items %}
                                    <li class="part-completed"><a href="#">{{ item.title }}</a> <span class="glyphicon glyphicon-ok"></span></li>
                                    {% endfor %}
                                    <li><a href="#">Nullam gravida nunc </a></li>
                                </ul>
                            
                          </div>
                        </div>
                    </li>
                    <div class="clearfix"></div>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}