body {
    height: 98%;
    width: 100%;
    position: absolute;
 }

.material-shadow-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-shadow-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.material-shadow-menu {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
    height: 100%;
    padding-top: 60px;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #eeeeee;
}

.content > .row {
    height: 100%;
}

.course {
    height: 100%;
    background-color: #fff;
    display: inline-block;
    float: none; /* Very important */
    margin-right: 15px;
    padding: 15px 20px;
    text-align: center;
    /*overflow-y: scroll;*/
}

.course-title {
    margin-top: 0;
}

.c100 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin-left: 75px !important;
}

.parts {
    width: 100%;
    position: relative;
    display: block;
    float: left;
}

.parts > ul {
    padding: 0;
    list-style: none;
    float: left;
    display: block;
    position: relative;
    
}

.parts > ul > li > a {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: center;
    line-height: 28px;
}

.part-completed > a,
.part-completed > span {
    color: #4caf50 !important;
}

.sub_course-content {
    background-color: #fff;
}

.sub_course-name {
    text-align: center;
    margin-bottom: 50px;
}

.sub_course-parts {
    text-align: center;
}

.sub_course-parts > ul {
    list-style: none;
    padding: 0;
}

.sub_course-parts > ul >li {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.sub_course-parts > ul > li > a {
    font-size: 20px;
    color: #333;
    text-align: center;
    line-height: 32px;
}

.points-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background-color: #4caf50;
  display: inline-block;
  position: relative;
  font-weight: 600;
}

.sub_course-collapse {
    padding-left: 10px;
    position: relative;
}

##collapseExample3,
#collapseExample2,
#collapseExample {
    width: 54%;
    margin: 10px 23%;
}

.sc-parts {
    margin-top: 20px;
    padding-left: 260px;
}

.nav-bar-points {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: #333;
    line-height: 50px;
    margin-right: 20px;
}

.nav-bar-points span:first-child {
    color: #4caf50;
}

.nav-bar-points:hover {
    color: #4caf50;
    text-decoration: none;
}


