body {
    height: 98%;
    width: 100%;
    position: absolute;
 }

.material-shadow-card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.material-shadow-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.material-shadow-menu {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.content {
    height: 100%;
    padding-top: 60px;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #eeeeee;
}

.content > .row {
    height: 100%;
}

.course {
    height: 100%;
    background-color: #fff;
    display: inline-block;
    float: none; /* Very important */
    margin-right: 15px;
    padding: 15px 20px;
    text-align: center;
    /*overflow-y: scroll;*/
}

.course-title {
    margin-top: 0;
}

.c100 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    margin-left: 75px !important;
}

.parts {
    width: 100%;
    position: relative;
    display: block;
    float: left;
}

.parts > ul {
    padding: 0;
    list-style: none;
    
}

.parts > ul > li > a {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    text-align: center;
    line-height: 28px;
}

.part-completed > a,
.part-completed > span {
    color: #4caf50 !important;
}


